<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Performance Analytics for Solaris</h1>
  <form class="form-inline">
    <div class="input-group">
      <span class="input-group-addon card-outline-success">PA Server</span>
      <ng2-completer class="form-control card-outline-success" name="current-pa-server"
                     [(ngModel)]="PASearchStr" [dataService]="PAService" [minSearchLength]="1"
                     [placeholder]="'Select PA Server'" [textNoResults]="'NO MATCH'"
                     (selected)="onHostSelect($event)">
      </ng2-completer>
      <!--<input type="text" class="form-control card-outline-success" id="current-pa-server"-->
             <!--size="32"-->
             <!--aria-describedby="basic-addon1"-->
             <!--placeholder="Select PA Server">-->
    </div>
    <div class="input-group">
      <span class="btn btn-outline-info">Host</span>
      <div class="btn-group">
        <ng2-completer class="form-control btn btn-outline-info" name="selected-host"
                       [(ngModel)]="HostSearchStr" [dataService]="dataService" [minSearchLength]="1"
                       [placeholder]="'Select Host'" [textNoResults]="'NO MATCH'"
                       (selected)="onHostSelect($event)">
        </ng2-completer>
      </div>
    </div>
    <!--<select class="nav-item form-control" id="selected-host" (change)="onChange($event)"-->
            <!--placeholder="Select Hostname">-->
      <!--<option *ngFor="let host of hosts">-->
        <!--{{ host.name }}-->
      <!--</option>-->
    <!--</select>-->
    <div class="input-group">
      <span class="input-group-addon">TimeZone</span>
      <span id="host_time_zone" class="text-primary input-group-addon"
            aria-describedby="basic-addon1" *ngIf="!currentHostTimeZone">
        No Host Selected
      </span>
      <span id="host_time_zone" class="text-primary input-group-addon"
            aria-describedby="basic-addon1" *ngIf="currentHostTimeZone">
        {{ currentHostTimeZone }}
      </span>
    </div>

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  </form>



</nav>