<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Performance Analytics for Solaris</h1>
  <form class="form-inline">
    <div class="input-group">
      <span class="input-group-addon card-outline-success">PA Server</span>
      <input type="text" class="form-control card-outline-success" id="current-pa-server"
             size="32"
             aria-describedby="basic-addon1"
             placeholder="Select PA Server">
    </div>
    <div class="input-group">
      <span class="input-group-addon text-primary">Host</span>
      <div class="btn-group">
        <button type="button" id="selected-host"
                class="form-control btn btn-outline-warning dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                aria-describedby="basic-addon1">
          {{ this.hostService.currentHost | async }}
        </button>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" (click)="onHostSelect($event)"
             *ngFor="let host of hosts">{{ host.name }}</a>
        </div>
      </div>
    </div>
    <!--<select class="nav-item form-control" id="selected-host" (change)="onChange($event)"-->
            <!--placeholder="Select Hostname">-->
      <!--<option *ngFor="let host of hosts">-->
        <!--{{ host.name }}-->
      <!--</option>-->
    <!--</select>-->
    <div class="input-group">
      <span class="input-group-addon">TimeZone</span>
      <span id="host_time_zone" class="text-primary input-group-addon"
            aria-describedby="basic-addon1">
        N / A
      </span>
    </div>

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  </form>



</nav>